* {
  background-color: #1996da;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.container {
  margin: auto;
  width: 800px;
}

.merge {
  width: 100px;
  background-color: white;
  border: 12px solid white;
  border-radius: 50px;
}

h2,
h3,
p {
  color: white;
  font-family: Lato, sans-serif;
  text-align: center;
  justify-content: center;
}

h3 {
  white-space: nowrap;
}

p {
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}

.column-one-third {
  flex-basis: 25%;
}
