.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
}

#charmander {
  /* your code here */
  top: 40px;
}

#squirtle {
  /* your code here */
  top: 100px;
}

#pikachu {
  /* your code here */
  top: 200px;
}

#jigglypuff {
  /* your code here */
  top: 400px;
}
