* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 800px;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.column-100 {
  flex-basis: 100%;
}

.column-20 {
  flex-basis: 20%;
}

.images {
  object-fit: scale-down;
  width: 200px;
}
