.container {
  margin: auto;
  width: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-100 {
  flex-basis: 100%;
}

.column-50 {
  flex-basis: 50%;
}

h3,
p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: normal;
}

img {
  width: 25%;
}
