.container {
  margin: auto;
  width: 800px;
}

header {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

h1,
.headerp {
  text-align: center;
  line-height: 2;
}

p,
.headerp {
  color: #787878;
  font-size: 12px;
}

h3,
p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
}

.column-5 {
  flex-basis: auto;
}

.column-25 {
  flex-basis: 30%;
}

.column-full {
  flex-basis: 100%;
}

.buton {
  text-align: center;
}

button {
  color: #d14c45;
  background-color: white;
  border: 1px solid #d14c45;
  padding: 7px 30px;
  margin: 20px;
}

.heart {
  height: 90px;
}
