* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

section {
  padding: 1.5rem 0;
  background-color: #e9f8ff;
}

h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

form {
  margin: 0 auto 2rem;
  text-align: center;
}

input,
button {
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  color: white;
}

input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  border-color: #a0b2a6;
}

button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0.25rem;
  border: none;
  font-weight: 500;
  background-color: #7bb359;
}
